.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 400 16px Jost, sans-serif;
  width: 100vw;
  height: 100vh;
  // background-color: #dcfff4;
  // background:linear-gradient(45deg, rgb(241, 143, 143), #23fab2, #4b60b9);
	background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  padding-top: 1rem
}

.x-mark {
  color: blue;
}

.o-mark {
  display: block;
  color:red;
}

.victory {
  color: rgb(19, 185, 19);
}

.draw {
  color: rgb(55, 30, 197);
}